.loginPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: initial;
}
.loginForm{
    display: flex;
    flex-direction: column;
}
.loginForm > input{
    min-width: 280px;
    padding: 20px 0;
    padding-left: 15px;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid black;
    font-family: initial;
    border-radius: 5px;
    font-size: 15px; 
}
.submitBtn{
    padding: 17px 30px;
    margin-top: 10px;
    background: #000;
    border: none;
    color: whitesmoke;
    font-size: 20px;
    font-family: initial;
    border-radius: 5px;
}
.logoutPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: initial;
}
.logoutBtn{
    min-width: 300px;
    padding: 17px 30px;
    margin-top: 20px;
    background: #000;
    border: none;
    color: white;
    font-size: 20px;
    font-family: initial;
    border-radius: 5px;
}
.box{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    font-family: initial;
    /* background-color: #000;
    color: white; */
}
.inputData{
    margin-top: 10px;
}
.inputFields{
    min-width: 280px;
    padding: 20px 0;
    padding-left: 15px;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid black;
    font-family: initial;
    border-radius: 5px;
    font-size: 15px; 
}
h1{
    margin: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.location{
    margin: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.temp-min{
    margin: 10px;
}